@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  scroll-behavior: smooth;
  --background-color: #ffffff;
  --background-alt-color: #f4f4f4;
  --text-title-color: #252b42;
  --text-color: #374754;
  --accent-color: #2091f9;
  --accent-color-hover: #0e508e;
  --border-color: #d8d8d8;
  --alt-border-color: #e8e8e8;
  --other-border-color: #DEDEDE;
  --border-shadow-color: rgba(0, 0, 0, 0.07);
  --placeholder-color: #18171D;

  --transition-speed: 0.3s;
  --container-max-width: 1200px;
  --nav-height: 78px;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.01rem;
  margin: 0;
}

body.no-scroll {
  overflow: hidden;
}

.container {
  max-width: var(--container-max-width);
  padding: 0 15px;
  margin: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.button {
  display: inline-block;
  background-color: var(--accent-color);
  border-radius: 35px;
  text-decoration: none;
  transition: background-color var(--transition-speed) easy;

  &:hover {
    background-color: #1061ab;
  }

  .button-text {
    color: var(--background-color);
    font-size: 1rem;
    font-weight: 400;
  }
}
