.header {
  background-image: url(../img/background_img_mob.png);
  block-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 320px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  @media (min-width: 416px) {
    background-image: url(../img/background_img_desc.png);
  }

  .hero-container {
    color: var(--background-color);
    text-align: center;

    .hero-title {
      padding: 70px 15px 20px 15px;
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 55px;
      color: var(--background-color);

      @media (min-width: 416px) {
        padding: 90px 17px 27px 17px;
        font-size: 2.66rem;
      }
    }

    .hero-text {
      font-size: 1.2rem;
      line-height: 40px;
      padding: 0px 40px 50px 40px;

      @media (min-width: 416px) {
        font-size: 1.55rem;
        line-height: 40px;
        padding: 0px 70px 70px 70px;
      }
    }

    

    .hero-button {
      margin-bottom: 220px;
      padding: 16px 86px;
    }
  }
}
