.header {
    background-image: url(../img/background_img_mob.png);
    block-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 320px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    @media (min-width: 416px) {
      background-image: url(../img/background_img_desc.png);
    }

    .hero-title {
        padding-top: 90px;
        padding-left: 25px;
        padding-right: 25px;
        text-align: center;
        font-size: 2.66rem;
        
        color: var(--background-color);
    }
}