.contact-us {
  padding: 60px 0px;

  @media (min-width: 418px) {
    padding: 100px 0px;
  }

  .contact-us-container {
    text-align: center;

    .contact-us-title {
      padding-top: 30px;
      margin-bottom: 7px;
      font-size: 2rem;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 0.2px;
      color: var(--text-title-color);

      @media (min-width: 416px) {
        padding: 50px 60px 0px 60px;
        font-size: 2.66rem;
        line-height: 55px;
      }
    }

    .contact-us-subtitle {
      padding: 10px 30px;
      margin-bottom: 40px;
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.2px;
      color: var(--text-color);

      @media (min-width: 416px) {
        padding: 10px 60px;
        font-size: 1.55rem;
        line-height: 40px;
        margin-bottom: 50px;
      }
    }

    .contact-us-subtitle--desc {
      display: none;

      @media (min-width: 768px) {
        display: block;
        margin-top: 20px;
      }
    }

    .contact-us-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        gap: 50px;
      }

      .contact-us__content {
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 768px) {
          order: 2;
        }

        .contact-us-social-networks__list {
          padding: 10px;
          margin-bottom: 40px;
          order: 1;

          @media (min-width: 418px) {
            margin-bottom: 50px;
          }

          @media (min-width: 768px) {
            order: 3;
          }

          .contact-us-social-networks__icon {
            width: 32px;
            height: 32px;
            color: var(--accent-color);
          }

          .social-networks__link:hover .contact-us-social-networks__icon {
            color: var(--accent-color-hover);
          }
        }

        .contact-us-map {
          display: none;
          order: 2;

          @media (min-width: 768px) {
            display: block;
            margin-top: 40px;
          }
        }

        .contact-us-contacts__list {
          order: 3;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 10px;

          @media (min-width: 768px) {
            order: 1;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
          }

          .contact-us-contacts__address {
            margin: 0;
          }

          .contact-us-contacts--link {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;

            @media (min-width: 768px) {
              flex-direction: column;
              justify-content: center;
              gap: 15px;

            }

            .contact-us-contacts__address--icon {
              width: 26px;
              height: 32px;
            }

            .contact-us-contacts__tel--icon {
              margin-right: 5px;
              width: 21px;
              height: 34px;
            }

            .contact-us-contacts__mail--icon {
              width: 26px;
              height: 21px;
            }

            .contact-us-contacts--text {
              padding-right: 25px;
              font-size: 0.7rem;
              font-weight: 400;
              line-height: 18px;
              color: var(--text-color);

              @media (min-width: 418px) {
                font-size: 0.9rem;
                line-height: 23px;
              }
            }
          }
        }
      }

      .contact-form {
        order: 2;

        @media (min-width: 768px) {
          order: 1;
        }
      }
    }
  }
}
