.testimonials {
  padding: 60px 0px;

  .testimonials-container {
    text-align: center;

    @media (min-width: 418px) {
      padding: 40px 45px;
    }

    .testimonials-title {
      padding: 10px;
      margin-bottom: 80px;
      font-size: 2rem;
      font-weight: 400;
      line-height: 45px;
      letter-spacing: 0.2px;
      color: var(--text-title-color);

      @media (min-width: 418px) {
        font-size: 2.7rem;
        line-height: 55px;
      }
    }

    .testimonials-img__logo {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      max-width: 100px;

      @media (min-width: 418px) {
        margin-bottom: 45px;
        max-width: 130px;
      }
    }

    .testimonials-text {
      font-size: 0.68rem;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0.16px;
      color: var(--text-color);
      padding: 5px 25px;
      margin-bottom: 30px;

      @media (min-width: 418px) {
        font-size: 0.73rem;
        line-height: 17px;
        letter-spacing: 0.17px;
        margin-bottom: 45px;
      }
    }

    .testimonials-customers {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-bottom: 95px;

      .testimonials-customers__avatar--mob {
        display: block;
        border-radius: 50%;
        max-width: 42px;
        max-height: 42px;

        @media (min-width: 768px) {
          display: none;
        }
      }

      .testimonials-customers__avatar--desc {
        display: none;

        @media (min-width: 768px) {
          display: block;
          margin: 0 auto 15px auto;
        }
      }

      .testimonials-customers__text--group {
        text-align: left;

        .testimonials-customers__text {
          font-size: 0.56rem;
          font-weight: 700;
          line-height: 15px;
          letter-spacing: 0.08px;
          color: var(--text-color);
        }

        .testimonials-customers__position {
          font-size: 0.7rem;
          font-weight: 400;
          line-height: 23px;
          letter-spacing: 0.17px;
          color: var(--text-title-color);
        }
      }
    }

    .testimonials-button {
      display: inline-block;
      padding: 16px 47px;

      .testimonials-button__text {
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }
}
