.subscription-container {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;

  .subscription-text__prev--mob {
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--text-title-color);

    @media (min-width: 418px) {
        font-size: 1.2rem;
        line-height: 28px;
    }
    
    @media (min-width: 1024px) {
      display: none;
    }
  }

  .subscription-title--mob {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.2px;
    color: var(--text-title-color);
    padding: 10px 60px;

    @media (min-width: 418px) {
        font-size: 2.66rem;
        line-height: 55px;
        padding: 10px 70px;
    }

    @media (min-width: 1024px) {
      display: none;
    }

  }

  .subscription-text--mob {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.2px;
    color: var(--text-color);
    padding: 10px;
    margin-bottom: 60px;

    @media (min-width: 418px) {
        font-size: 1.55rem;
        line-height: 40px;
        padding: 10px 20px;
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  .subscription-banner {
    width: 100%;
  }
}