.contact-us {
    padding: 60px 0px;
    
    @media (min-width: 418px) {
        padding: 100px 0px;
    }

    .contact-us-map {
        display: none;

        @media (min-width: 768px) {
            display: block;
            margin-top: 40px;
        }
    }
}