.subscription-container {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;

  .subscription-text__prev--mob {
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: var(--text-title-color);

    @media (min-width: 418px) {
      font-size: 1.2rem;
      line-height: 28px;
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  .subscription-title--mob {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.2px;
    color: var(--text-title-color);
    padding: 10px 60px;

    @media (min-width: 418px) {
      font-size: 2.66rem;
      line-height: 55px;
      padding: 10px 70px;
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  .subscription-text--mob {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.2px;
    color: var(--text-color);
    padding: 10px;
    margin-bottom: 60px;

    @media (min-width: 418px) {
      font-size: 1.55rem;
      line-height: 40px;
      padding: 10px 20px;
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  .subscription-banner {
    width: 100%;
    margin-bottom: 50px;

    @media (min-width: 418px) {
      margin-bottom: 60px;
    }
  }

  .subscription-text__prev--desc {
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }
  }

  .subscription-title--desc {
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }
  }

  .subscription-title--form {
    padding: 10px 30px;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 700;

    @media (min-width: 418px) {
      padding: 10px 55px;
      font-size: 1.2rem;
      line-height: 28px;
    }
  }

  .subscription-text--form {
    padding: 0px 25px;
    font-size: 0.8rem;
    line-height: 22px;
    margin-bottom: 10px;

    @media (min-width: 418px) {
      padding: 0px 45px;
      font-size: 1rem;
      line-height: 25px;
    }
  }

  .subscription-form__group {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 24px 15px;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .subscription-input {
      padding: 19px 35px;
      margin-bottom: 12px;
      border: 1px solid var(--alt-border-color);
      border-radius: 39px;
      font-size: 0.8rem;
      font-weight: 400;
      background-color: var(--background-alt-color);
      width: 100%;

      &::placeholder {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.1px;
        color: var(--placeholder-color);
      }
    }

    .subscription-button {
      padding: 17px 60px;
      width: 100%;
      border: none;

      .subscription-button__text {
        font-size: 1rem;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: var(--background-color);

        @media (min-width: 418px) {
          font-size: 1.1rem;
          line-height: 20px;
        }
      }
    }
  }
}
