.social-networks {
    display: flex;
    justify-content: center;
    gap: 24px;

    .social-networks__item {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: inherit;
      cursor: pointer;

      .social-networks__icon {
        width: 20px;
        height: 20px;
        color: var(--background-color);
      }
    }
}