.social-networks {
    display: flex;
    justify-content: center;
    gap: 24px;

    .social-networks__item {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: inherit;
      cursor: pointer;
    }
}